body {
  text-align: center;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

.green {
  color: #22c55e;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
